extends layout

block content
  .content-wrapper
    script.
      ciudadUser="#{locals.currentuser.ciudad}"
      perfiluser="#{locals.currentuser.perfil}"
      idPais="#{locals.currentuser.idPais}"
      nombrePais="#{locals.currentuser.pais}"
      idCiudad="#{locals.currentuser.idCiudad}"
      nombreCiudad="#{locals.currentuser.ciudad}"
    // Content Header (Page header)
    section.content-header
      h1
        | Consultas Activos TI
        small Por sedes
      ol.breadcrumb
        li
          a(href='#') 
            i.fa.fa-dashboard
            |  Inicio
        li.active Consultas de activos TI x sedes
    // Main content
    section.content
      section.content
        .row
          .col-xs-12
            // /.box
            .box
              .box-body
                .row
                  .col-md-3
                    .form-group
                      label Ciudad
                      select.form-control.select2#select1(style='width: 100%;')
                        option(selected='selected' value='null') Seleccione uno
                  .col-md-3
                    .form-group
                      label Sede
                      select.form-control.select2#select2(style='width: 100%;')
                        option(selected='selected' value='null') Seleccione uno
                  .col-md-3
                    .form-group
                      label Campaña
                      select.form-control.select2#select3(style='width: 100%;')
                        option(selected='selected' value='null') Seleccione uno
                  .col-md-3
                    .form-group.col-md-6
                      .row
                        a.btn.btn-app#botonconsulta
                          i.fa.fa-play
                          |  Ejecutar
                      .row(style='display: none;')
                        a.btn.btn-app#botondummy(hidden='')
                          i.fa.fa-play
                          |  Dummy
                // /.row
              // /.box-header
              .box-body
                table#example2.table.table-bordered.table-striped
                  thead
                    th Campaña
                    th Piso
                    th Puesto
                    th Equipo
                    th Marca
                    th Modelo
                    th Equipo S/N
                    th Equipo Placa
                    th Monitor S/N
                    th Monitor Placa
                    th Asignado
                    th Opciones
                  tbody
      #confirmTraslado.modal.fade.col-sm-12(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true', data-backdrop='static', data-keyboard='false')      
        .modal-dialog.modal-lg(role='document')
          .modal-content
            #tableModal
      #sendTraslado.modal.fade.col-sm-12(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true', data-backdrop='static', data-keyboard='false')      
        .modal-dialog.modal-lg(role='document')
          .modal-content
            #tableModalTraslado
      #insertarModal.modal.fade.col-sm-12(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true', data-backdrop='static', data-keyboard='false')      
        .modal-dialog(role='document')
          .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h2.modal-title Ingreso de Software
              .modal-body
                h4  
                #tableofficeIn
                #footerOfice
                p 
              .modal-footer
      #deleteModal.modal.fade.col-sm-12(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true', data-backdrop='static', data-keyboard='false')      
        .modal-dialog(role='document')
          .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h2.modal-title Ingreso de Software
              .modal-body
                h4  
                #footerOficeDelete
                p 
              .modal-footer
      #modalOK.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')      
        .modal-dialog(role='document')
          .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                h2.modal-title Info Modal
              .modal-body
                h4
                p
              .modal-footer
                button.btn.btn-outline.pull-left(type='button', data-dismiss='modal') Cerrar
  append footer
    script(src='plugins/jQuery/jquery-2.2.3.min.js')
    script(src='plugins/datatables/jquery.dataTables.min.js')
    link(rel='stylesheet', href='plugins/datatables/jquery.dataTables.min.css')
    script(src='./dist/js/app-consulta.js')